.hero{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    
}

.words{
    font-weight:800 ;
    font-size: 108px;
    line-height: 102px;

}

.hero-btn{
    padding-bottom:20px;
    padding-top: 20px;
}

p{
    font-weight: 600;
    color: gray;
    line-height: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



